<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/apiUrls.js"></script>
    <script src="~/js/api.js"></script>
    <link href="~/css/weblayout.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
    <nav class="top-nav" id="top-nav">
        <div class="logo">
            <a href="\home\index">
                <img src="~/Images/Botech_text_Tran.png" alt="Botech Soft Pvt. Ltd." />
            </a>
        </div>
        <div class="nav-right">
            <div class="hs_header_add_wrapper hidden-xs hidden-sm">
                <div class="hs_header_add_icon">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="hs_header_add_icon_cont">
                    <h5>Contact Us</h5>
                    <p><a style="text-decoration:none;" href="tel:+91-8799798300">+91-8799798300</a></p>
                </div>
            </div>
            <div class="hs_header_add_wrapper d-none d-sm-block">
                <div class="hs_header_add_icon">
                    <i class="fa fa-home"></i>
                </div>
                <div class="hs_header_add_icon_cont">
                    <h5>Reach Us</h5>
                    <p>
                        H-82, 3rd Floor, Sector 12
                        Noida(UP) - 201301
                    </p>
                </div>
            </div>

        </div>
    </nav>
    <div class="hs_navigation_header_wrapper" id="menu">
        <div class="container">
            <div class="row">
                <div class="col-12 menu-container">
                    <i class="fas fa-bars humbarger d-lg-none d-md-none d-sm-block"></i>
                    <div class="mobile-menu hidden-menu">
                        <ul class="header-mobile-menu">
                            <li><a href="/home/index">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="/home/contactus">Contact Us</a></li>
                        </ul>
                    </div>
                    <ul class="header-menu  d-none d-md-block">
                        <li><a href="/home/index">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li>
                            <div class="dropdown-wrapper menu-button">
                                <a class="menu-button" href="#">Contact Us</a>
                                <div class="drop-menu">
                                    <a class="menu-button" href="/home/contactus?type=Contactus">Contact Us</a>
                                    <a class="menu-button" href="/home/contactus?type=SubmitCv">Submit Your CV</a>
                                    <a class="menu-button" href="/home/contactus?type=referfriend">Refer a Friend</a>
                                    <a class="menu-button" href="/home/faqs">FAQ's</a>
                                </div>
                            </div>
                            @*<a href="/home/contactus">Contact Us</a>*@
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="body-container">
        @RenderBody()
        <div class="row bt-footer">
            <div class="col-md-4 col-sm-6 content-sec">
                <p>TRAINING IN BOTECH</p>
                <ul>
                    <li>Azure Training in Noida</li>
                    <li>Dataware Housing Training in Noida</li>
                    <li>Devops Training in Noida</li>
                    <li>Angular Training in Noida</li>
                    <li>Blazer Training in Noida</li>
                    <li>Blazer Training in Noida</li>
                    <li>ASP.Net Core Training in Noida</li>
                    <li>Cloud Computing Training in Noida</li>
                    <li>IOT Training in Noida</li>
                    <li>Python Programming Training in Noida</li>
                </ul>
            </div>
            <div class="col-md-2  col-sm-6 content-sec">
                <p>our services</p>
                <ul>
                    <li>General Staffing</li>
                    <li>Professional Staffing</li>
                    <li>Outsourcing</li>
                    <li>Hire Train Deploy</li>
                    <li>E-Tender</li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6 content-sec">
                <p>quick links</p>
                <ul>
                    <li>Pertners</li>
                    <li>About</li>
                    <li><a href="/home/faqs">FAQ's</a></li>
                    <li>Badges</li>
                    <li><a href="/home/privacy">Privacy Policy</a></li>
                    <li>Term of Use</li>
                    <li><a href="/home/career">Career</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 content-sec">
                <p>contact details</p>
                <ul>
                    <li><i class="fas fa-home"></i> H 82 Sector 12, Noida, UP 201301</li>
                    <li><i class="fas fa-mobile-alt"></i> Phone : <a href="tel:+91-8799798300">8799798300</a></li>
                    <li><i class="fas fa-globe-asia"></i> Fax : <a href="fax:+91-8799798300">8799798300</a></li>
                    <li><i class="fas fa-envelope"></i> Email : <a href="email:info@botechsoft.com">info@botechsoft.com</a></li>
                    <li class="socialsite">
                        <a href="https://twitter.com/BotechSoftware" target="_blank"><i class="fab fa-twitter-square"></i></a>
                        <a href="https://www.facebook.com/Botech-Software-Solutions-2267739333471132/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=918799798300&fbclid=IwAR234xKxG9fN5wnloC0-2rE1Fxe5zk1K8bwU3Fov1gyPe2u0N7zw4Lb2fHU" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
                        <a href="https://www.linkedin.com/company/botechsoftware" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p>COPYRIGHT 2020. ALL RIGHTS RESERVED.</p>
                <p>Design and Deviloped by <span>Botech</span></p>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.humbarger').on('click', function () {
                $('.mobile-menu').toggleClass('hidden-menu');
            });

        });
        $(window).resize(function () {
            if ($(document).width() > 819) {
                $('.mobile-menu').addClass('hidden-menu');
            }
        });
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                document.getElementById("top-nav").style.padding = "5px 0px";
                document.getElementById("menu").style.marginTop = "63px";
            } else {
                document.getElementById("top-nav").style.padding = "25px 0px";
                document.getElementById("menu").style.marginTop = "103px";
            }
        }
    </script>
</body>

</html>
