<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/css/weblayout.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
    <nav class="top-nav" id="top-nav">
        <div class="logo">
            <a href="\home\index">
                <img src="~/Images/Botech_text_Tran.png" alt="Botech Soft Pvt. Ltd." />
            </a>
        </div>
        <div class="nav-right">
            <div class="hs_header_add_wrapper hidden-xs hidden-sm">
                <div class="hs_header_add_icon">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="hs_header_add_icon_cont">
                    <h5>Contact Us</h5>
                    <p>+91-8799798300</p>
                </div>
            </div>
            <div class="hs_header_add_wrapper d-none d-sm-block">
                <div class="hs_header_add_icon">
                    <i class="fa fa-home"></i>
                </div>
                <div class="hs_header_add_icon_cont">
                    <h5>Reach Us</h5>
                    <p>
                        H-82, 3rd Floor, Sector 12
                        Noida(UP) - 201301
                    </p>
                </div>
            </div>

        </div>
    </nav>
    <div class="hs_navigation_header_wrapper" id="menu">
        <div class="container">
            <div class="row">
                <div class="col-12 menu-container">
                    <i class="fas fa-bars humbarger d-lg-none d-md-none d-sm-block"></i>
                    <div class="mobile-menu hidden-menu">
                        <ul class="header-mobile-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Home</a></li>
                        </ul>
                    </div>
                    <ul class="header-menu  d-none d-md-block">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="body-container">
        @RenderBody()
    </div>
    <script>
        $(document).ready(function () {
            $('.humbarger').on('click', function () {
                $('.mobile-menu').toggleClass('hidden-menu');
            });
           
        });
         $(window).resize(function () {
                if ($(document).width() > 819) {
                     $('.mobile-menu').addClass('hidden-menu');
                }
         });
        window.onscroll = function () { scrollFunction() };

function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("top-nav").style.padding = "5px 0px";
        document.getElementById("menu").style.marginTop = "63px";
  } else {
        document.getElementById("top-nav").style.padding = "25px 0px";
        document.getElementById("menu").style.marginTop = "103px";
  }
}
    </script>
</body>

</html>
