
@{
    ViewData["Title"] = "Career";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}

<div class="bg">
    <div class="heading">Career</div>
</div>
<div class="container career-container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading2">Career</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 career-data">
            <h3>WORKING @@ BOTECH SOFT PVT. LTD.</h3>
            <p>We provide a workplace environment which respects and encourages innovation and helps employees look at <strong>Botech Soft Pvt. Ltd.</strong> as a long-term employer.</p>
            <p>This is a place where all employees are given independence which allows them to put on their entrepreneur’s hat and freedom to think out-of-the-box.</p>

            <p>We at <strong>Botech Soft Pvt. Ltd.</strong> strive to provide an environment that is stimulating with high levels of motivation, empowerment and recognition, removing obstacles that hinder creativity. In this energized atmosphere we share successes while setting new standards of excellence.</p>

            <p>Contact us for job related queries at <a href="mailto:hr@@botechsoft.com">hr@@botechsoft.com</a> </p>
        </div>
        <div class="col-md-6 career-logo">
            <img src="~/Images/career.jpg" />
        </div>
    </div>
</div>

<style>
    .bg {
        background: url('../images/career_bg.jpg') no-repeat center center fixed;
        background-size: 100% 100%;
        height: 300px;
        width: 102%;
    }
    .career-data
    {
        text-align:justify;
    }

    .heading {
        background: #80808073;
        text-align: center;
        color: black;
        font-size: 49px;
        position: relative;
        width: 102%;
        top: 39%;
        font-family: fantasy;
    }

    .heading2 {
        background: #80808036;
        text-align: left;
        color: black;
        font-size: 36px;
        /* position: relative; */
        width: 102%;
        top: 39%;
        font-family: fantasy;
        padding: 0px 20px;
        margin-bottom: 20px;
        border-radius: 4px;
    }

    .career-container {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .career-logo img {
        width: 100%;
        max-height: 400px;
    }
    @@media only screen and (max-width: 900px) {
        .heading {
            width: 100%;
        }
    }
</style>

