@Model
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}
<div class="container container-query">
    <div class="row">
        <div class="col-md-12">  <div class="query-label">Business Enquiry</div></div>
    </div>
    <div class="row">
        @{
            string _type = TempData["contacttype"] != null ? TempData["contacttype"].ToString().ToLower() : "contactus";
            <div class="col-md-6">
                <div class="contact-heading">
                    @if (_type == "contactus")
                    {<text>Contact Us</text>}
                else if (_type == "submitcv")
                {<text>Submit Your CV</text> }
            else
            {<text>Contact Us</text>}
                </div> <img src="~/Images/bg_enquiry.jpg" class="contact-img" />
            </div>
            <div class="col-md-6">

                @if (TempData["contacttype"] != null && TempData["contacttype"].ToString().ToLower() == "contactus")
                {
                    <partial name="/Views/shared/_queryFormPartial.cshtml" />
                }
                else if (TempData["contacttype"] != null && TempData["contacttype"].ToString().ToLower() == "submitcv")
                {
                    <partial name="/Views/shared/_submitCVPartial.cshtml" />
                }
                else
                {
                    <partial name="/Views/shared/_queryFormPartial.cshtml" />
                }


            </div>
        }
    </div>
</div>
<style>
    .contact-heading {
        position: absolute;
        right: 0;
        border: 0px solid #0000008c;
        width: 96%;
        text-align: right;
        line-height: 47px;
        padding-right: 20px;
        background: #0000001c;
        color: #777676;
        top: 39%;
        z-index: -1;
        text-transform: uppercase;
        font-weight: bold;
    }

    .contact-img {
        max-height: 280px;
    }

    .form .form-group {
        max-height: 280px;
        width: 96%;
        overflow-y: auto;
        padding-right: 10px;
        margin: 10px;
    }

    .container-query .row {
        background: #80808045;
    }

        .container-query .row:not(:first-child) {
            background: #80808045;
            padding: 20px 0;
            border-radius: 5px;
        }

    .container-query {
        margin-bottom: 20px;
        margin-top: 20px;
    }
</style>


