
@{
    ViewData["Title"] = "FAQs";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}


<div class="faq-container">
    <h5>FAQ's</h5>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h6 class="mb-0">
                    How do I register with Botech?
                </h6>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    Visit the company website (http://www.botechsoft.com/ ) and you will be required to submit your CV under Contact Us page.
                    Or Call into or contact and discuss your details with a consultant. They will guide you on the best way to apply.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading2" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                <h6 class="mb-0">
                    If I am asked to attend an interview, what do I need to bring with me?
                </h6>
            </div>

            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
                <div class="card-body">
                    If a consultant calls you to arrange a time for you to come and see us, there are a few things you can begin to prepare so that we can progress your application.
                    The consultant will advise you what they require you to bring with you when they make your appointment, but these are some things you may need to provide (depending on the vacancy you are applying for or the type of work you are seeking):
                    <ul style="margin-left:25px;">
                        <li>Aadhar card</li>
                        <li>PAN card</li>
                        <li>Mark sheets</li>
                        <li>Mark sheets</li>
                        <li>Bank details</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading3" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                <h6 class="mb-0">
                    Will I be required to pay fees, deposits, or any amount during the recruitment process or at
                    any time during my engagement with Botech?
                </h6>
            </div>

            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
                <div class="card-body">
                    No, it is not Botech’s policy to charge candidates or employees. No one is ever required to pay for employment at Botech or Botech clients. If you are contacted by someone asking for payment, please do not respond and contact us on <a href="tel:+91-8799798300">+91 8799798300</a> or write to <a href="mailto:info@botechsoft.com">info@botechsoft.com</a>  immediately.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading4" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                <h6 class="mb-0">
                    What can I expect from the Botech recruitment process?
                </h6>
            </div>

            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                <div class="card-body">
                    <p>You will need to come into an Botech office, and you may need to allow about 4 hours for the entire recruitment process. This may be conducted over several sessions.</p>
                    <strong>Documents</strong>
                    <p>When you arrive, we will ask you to read and complete some documents so that we can create a file for your employment with us.</p>
                    <strong>
                        Assessments (Some roles only)
                    </strong>
                    <p>
                        For some jobs you apply for - we may send some assessments to your home for you to before we meet you. This will give us a good understanding of your skills and also what sort of work environment suits you the best. If you don’t have a home computer, don’t worry- you can do these when you come into the office.
                    </p>
                    <strong>
                        Interview
                    </strong>
                    <p>
                        If you are being considered for a vacancy, you will have an interview with one of our consultants so that they can gain an understanding of your work history and experience, what type of position you are seeking and are suited for and they will also ask about the factors that impact on your work. This is an opportunity for the consultant to get to know you in person and for you to learn more about Botech. It’s all part of the selection and matching process.
                        Licenses and Qualifications
                        We will take copies of these and retain them on file. We will verify them to make sure they are current and valid.
                    </p>
                    <strong>
                        References
                    </strong>
                    <p>
                        Part of our recruitment process helps us to gain further insight into your work history by speaking to referees you nominate to us. We will need the contact details of at least two work-related referees who must have supervised you directly in a working environment in the past. We ask them a series of questions based on your ability, performance, and interpersonal skills to ensure that we further understand your work history and can verify details you have provided to us.
                    </p>
                    <strong>
                        Induction
                    </strong>
                    <p>
                        If you wish to work for us as a temporary employee and you have had all of the pre-employment processes completed, and we think we will be able to provide you with work, we will undertake a comprehensive pre-employment induction with you. This is where we further explain what we require from you, provide and explain to you employment-related documentation such as your Individual Employment Agreement, tax code declaration, and other payroll and policy information, and we will require you to complete these.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading5" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                <h6 class="mb-0">
                    What training will I get?
                </h6>
            </div>

            <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Prior to the commencement of any work with us, we will provide you with a health and safety induction, and you will answer a few questions related to the induction to ensure you have understood the information provided in the induction.
                    </p> <p>
                        We then make sure that you receive the first day on the job induction, which will be delivered to you by our client or Adecco, depending on the company you are working for. This is designed to advise you with specific details relating to the job you are about to perform and our client’s site.
                    </p> <p>
                        Botech may be able to offer you a range of different opportunities to upskill yourself once you are on the job - just ask your consultant what may be available to you.
                         <p>It is important that if you are asked to change your duties at work, you notify your Botech consultant so that we can make sure you are given the appropriate training for the new functions.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading6" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                <h6 class="mb-0">
                    What should I do if ...I want to take a holiday?
                </h6>
            </div>

            <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                <div class="card-body">
                    Contact your consultant and discuss with them your holiday plans detailing to them the dates you are requesting. If this is approved by your consultant and you wish to be paid for that holiday, and you have enough annual leave owing to you, you need to fill in a holiday leave application form, available from your consultant.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading7" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                <h6 class="mb-0">
                    I can’t get my timesheet approved
                </h6>
            </div>

            <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
                <div class="card-body">
                    Contact your consultant immediately. They will try to contact the supervisor or assist you with alternative arrangements to have this signed by another authorized person. It is in our interest to make sure you get paid weekly, so we will do everything we can to make sure this happens.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading8" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                <h6 class="mb-0">
                    I need to contact Botech outside of business hours
                </h6>
            </div>

            <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
                <div class="card-body">
                    We operate between 9AM to 7PM. Call the office number you have been given, if not write to <a href="mailto:info@botechsoft.com">info@botechsoft.com</a> 
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading9" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                <h6 class="mb-0">
                    I have a question about my provident fund
                </h6>
            </div>

            <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
                <div class="card-body">
                    If you have any queries related to PF balance, Withdrawal process, PF transfer, Date of exit updation & correction requests mail to <a href="mailto:pfservices@botechsoft.com">pfservices@botechsoft.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .faq-container {
        margin: 20px;
        width: calc(100vw - 40px);
        padding: 10px;
    }

        .faq-container h6 {
            font-size: 13px;
        }

    .card-body {
        font-size: 12px;
        text-align: justify;
    }
</style>

