
@{
    ViewData["Title"] = "Botech Software: IT Services, Staffing Services, Digital Solutions, Technology Consulting";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}
<link href="~/css/Home/Index.css" rel="stylesheet" />
<div style="">
    <div class="hero">
        <div class="hero__overlay hero__overlay--gradient"></div>
        <div class="hero__mask"></div>
        <div class="hero__inner">
            <div class="container">
                <div class="hero__content">
                    <div class="hero__content__inner" id="navConverter">
                        <h1 class="hero__title">Providing skilled workforce at Scale</h1>
                        <p class="hero__text">We have experience in providing skilled workforce to IT companies. We train our hires in cutting edge technologies and provide them best training so that they can deliver best at your workplace.</p>
                        <a class="button button__accent" href="tel:+91-8799798300">Call: +91-8799798300</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__sub">
            <span id="scrollToNext" class="scroll">
                <svg class="prefix__hero__sub__down" fill="currentColor" width="1em" height="1em" viewBox="0 0 512 512">
                    <path d="M256 298.3l174.2-167.2c4.3-4.2 11.4-4.1 15.8.2l30.6 29.9c4.4 4.3 4.5 11.3.2 15.5L264.1 380.9c-2.2 2.2-5.2 3.2-8.1 3-3 .1-5.9-.9-8.1-3L35.2 176.7c-4.3-4.2-4.2-11.2.2-15.5L66 131.3c4.4-4.3 11.5-4.4 15.8-.2L256 298.3z"></path>
                </svg>
            </span>
        </div>
    </div>
    <div>
        <div class="steps landing__section">
            <div class="container"><h2>Our Top Offerings</h2></div>
            <div class="container">
                <div class="steps__inner">
                    <div class="step">
                        <div class="step__media">
                            <img src="~/Images/undraw_designer.0f956a9e.svg" class="step__image" />
                        </div>
                        <h4>Skilled IT workforce</h4>
                        <p class="step__text">People provided by us have gone rigorous training and have given multiple assesment, which make sure they have competancy.</p>
                    </div>
                    <div class="step">
                        <div class="step__media">
                            <img src="~/Images/undraw_responsive.6f625599.svg" class="step__image" />
                        </div>
                        <h4>Available within a week</h4>
                        <p class="step__text">We provide skilled workforce within 7 days. In case of large requirement, we might take 1-3 weeks.</p>
                    </div><div class="step">
                        <div class="step__media">
                            <img src="~/Images/undraw_creation.d671ae83.svg" class="step__image" />
                        </div>
                        <h4>On demand training</h4>
                        <p class="step__text">We also train our workforce based on your bussiness demand on latest and cutting edge technology.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="padding:50px 15px;">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12" style="text-align:center;">
                    <img src="~/Images/undraw_browser.3d3380fa.svg" class="expanded__image" />
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12" style="text-align:left;padding:30px">
                    <h2>Tech talent that delivers with speed</h2>
                    <p>Botech brings you effective and efficient tech talent who deliver at scale and speed. Each of our tech person have gone through various training and provide to your software teams.</p>

                </div>
            </div>
        </div>
        <div class="container" style="padding:50px 15px;border-width: 1px 0 1px 0;border-style: solid;border-color: #eee;background: #f7f7f7;">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12" style="text-align:center;">
                    <img src="~/Images/undraw_frameworks.6752787a.svg" class="expanded__image" />
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12" style="text-align:left;padding:30px">
                    <h2>Any framework. Any language. Your choice.</h2>
                    <p>Botech trains its employees in vast variety of technology that whatever your name it, we have talent for it. We are experience in providing talent on latest niche techlogies.</p>

                </div>
            </div>
        </div>
        <div class="container" style="padding:50px 15px;">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12" style="text-align:center;">
                    <img src="~/Images/undraw_fast_loading.6403b473.svg" class="expanded__image" />
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12" style="text-align:left;padding:30px">
                    <h2>Better software and faster delivery</h2>
                    <p>Have a deadline. Need developers who can deliver at faster pace, but without compormising on software quality. Botech software professionals are trained to work on bigger project and teams and ensure quality software delivering within deadlines.</p>

                </div>
            </div>
        </div>
    </div>
</div>



