
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}

<div class="container ser-container">
    <div class="row">
        <div class="col-md-12">
            <h5 class="ser-heading">Get our staffing expertise in your speciality area</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 ser-list-outer">
            <ul class="ser-list-inner">
                <li class="dm"><a href="#sar-data"><i class="fas fa-users"></i><span>Development & Maintenance</span></a></li>
                <li class="ittc"><a href="#sar-data"><i class="fas fa-user-tie"></i> <span>IT Training & Technology Consulting</span></a></li>
                <li class="bpo"><a href="#sar-data"><i class="fas fa-comment-dollar"></i> <span>Business Process Outsourcing</span></a></li>
                <li class="ps"><a href="#sar-data"><i class="fas fa-users-cog"></i> <span style="margin-top: 0px !important;">Professional Staffing</span></a></li>
                <li class="ds"><a href="#sar-data"><i class="fas fa-atom"></i><span style="margin-top: 0px !important;"> Digital Solutions</span></a></li>
            </ul>
        </div>
        <div class="col-md-9 ser-data" id="sar-data">
            <br />
            <br />
            <div class="dm">
                <h4>
                    <i class="fas fa-users"></i> Development & Maintenance
                </h4><br />
                <hr />
                <img style="width:100%;margin-bottom:20px;height:270px;" src="~/Images/dm.jpg" />
                <p>
                    We help our customers develop, support and maintain quality software that meets their business imperatives.
                </p>
                <p>
                    Whether it comes to developing software from scratch, re-engineering existing software or migrating software to new platforms or architectures,
                </p>
                <p>
                    We are equally adept. We always make sure that software developed is adequately tested and conforms to all non-functional requirements
                </p>
                <p>
                    We usually use agile methodologies. Continuously collaborate with our clients helps us to make sure that all project goals are met.
                </p>
                <p>
                    We have various technical competencies.
                </p>

                <p>
                    Botech Software provides full-cycle software development services designed to help you grow your business, increase your ROI, and one-up the competition. Whether it’s custom software engineering, software testing  and quality assurance, system integration, technology consulting, or software support — we got you covered.
                </p>
                <p>
                    Our software engineers have a wealth of experience in building web applications. We are also experts in many verticals and business domains, including e-Commerce, e-Learning, AdTech, Finance, Entertainment, and more.
                </p>
                <p>We has been working closely with various Sharp subsidiaries to understand market requirements and Technology Investigations that helps our customers envision new products and services. From time to time we offer such research in  various new business development areas like Energy, Healthcare, Education etc.</p>

            </div>
            <div class="ittc">
                <h4>
                    <i class="fas fa-user-tie"></i> IT Training & Technology Consulting
                </h4><br />
                <hr />
                <img style="width:100%;margin-bottom:20px;" src="~/Images/ittc.png" />
                <p>
                    Our Trainers are experts in their respective fields. We have more that 20+ trainers that are currently working in various MNCs. Have a look at our Team.
                </p><p>
                    We help our customers develop, support and maintain quality software that meets  their business imperatives.
                </p><p>
                    Whether it comes to developing software from scratch, re-engineering existing software or migrating software to new platforms or architectures,
                </p><p>
                    we are equally adept. We always make sure that software developed is adequately tested and conforms to all non-functional requirements
                </p><p>
                    We usually use agile methodologies. Continuously collaborate with our clients helps us to make sure that all project goals are met.
                </p><p>
                    We have various technical competencies.
                </p>
                <div class="row ittc">
                    <div class="col-md-2 ittc" style="display:inline-block;">
                        <div class="ittc tcd">
                            <div class="ittc"><i class="fas fa-user-tie ittc"></i> </div>
                            <div class="tcd-heading ittc">Job Interview Prepration</div>
                            <div class="tcd-info ittc">Interview Classes with coporate Faculty</div>
                        </div>
                    </div>
                    <div class="col-md-2 ittc" style="display:inline-block;">
                        <div class="ittc tcd">
                            <div class="ittc"><i class="fas fa-users"></i> </div>
                            <div class="tcd-heading ittc">Corporate Training</div>
                            <div class="tcd-info ittc">Trainings with coporate Faculty</div>
                        </div>
                    </div>
                    <div class="col-md-2 ittc" style="display:inline-block;">
                        <div class="ittc tcd">
                            <div class="ittc"><i class="fas fa-user-graduate"></i></div>
                            <div class="tcd-heading ittc">Classroom Training</div>
                            <div class="tcd-info ittc">Classroom Training with best Faculty</div>
                        </div>
                    </div>
                    <div class="col-md-2 ittc" style="display:inline-block;">
                        <div class="ittc tcd">
                            <div class="ittc"><i class="fas fa-tv"></i> </div>
                            <div class="tcd-heading ittc">Online Live Training</div>
                            <div class="tcd-info ittc">Online Live Training</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bpo">
                <h4>
                    <i class="fas fa-comment-dollar"></i> Business Process Outsourcing
                </h4><br />
                <hr />
                <img style="width:100%;margin-bottom:20px;height:300px" src="~/Images/BPO.jpeg" />
                <p>
                    Botech Software provide a range of specialized business process outsourcing services that are secondary business functions for our clients, leaving them free to focus  on delivering to their own clients and meeting their business objectives that helps global corporations improve service levels, reduce costs, enhance process efficiencies and gain access to our best-in-class processes without investing in requisite technology and skills.
                </p> <p>
                    We provide innovative, efficient, and scalable BPO solutions and better ways to manage many important, non-core business processes, including finance and accounting, human resources, charity services and forms processing. We assist our clients with strategic planning to ensure that the maximum benefit is achieved through Business Outsourcing.
                </p> <p>
                    We don't just manage our client processes but work with them towards re-engineering and refining projects to significantly improve speed, accuracy, and productivity.
                </p>
                <h6>Our other services include:</h6>
                <ul style="margin-left: 25px;">
                    <li>Accounting and payroll outsourcing for accountants</li>
                    <li>A outsourcing  for businesses</li>
                    <li>Back office recruitment process outsourcing for staffing agencies</li>
                    <li>IT and back office solutions</li>
                </ul>
            </div>
            <div class="ps">
                <h4>
                    <i class="fas fa-users-cog"></i> Professional Staffing
                </h4><br />
                <hr />
                <img style="width:100%;margin-bottom:20px;height:300px" src="~/Images/ps.jpg" />
                <p>Different verticals and sectors require different strategies to attract the right talent. Growth supported by megatrends: skills imbalances, demographics, the gig economy have driven different verticals to adopt different strategies. </p>
                <p>In a fast-paced professional landscape. Our Professional Staffing business caters to high-end skill fulfillment across mainstream and niche technologies to meet our client’s temporary staffing needs. We target specific verticals introducing - experts in the industry and domain specific hiring. We leverage our digital technology and innovation expertise upgrading the tools available to our Professional Staffing recruiters while making our operations more efficient.</p>
                <h6> We currently support the following sectors:</h6>
                <ul style="margin-left: 25px;">
                    <li>IT</li>
                    <li>Product based IT companies</li>
                    <li>Engineering</li>
                    <li>Education</li>
                    <li>Insurance & Health</li>
                </ul>
            </div>
            <div class="ds">
                <h4> <i class="fas fa-atom"></i> Digital Solutions</h4><br />
                <hr />
                <img style="width:100%;margin-bottom:20px;height:300px" src="~/Images/ds.jpg" />
                <p>Traditional lines across industries are getting blurred in a smart, connected, and efficient world. Technology is taking the world by storm, and traditional businesses are getting re-engineered digitally. Hyper personalization, real-time smart connectivity, data explosion, and intelligent systems have become the norm. The need is to connect the business structures, processes, and functions and provide insights to navigate in the digital era. Legacy systems and capabilities need to lead the way for digital competencies. It is no more about just keeping the lights on; adoption of a digital ecosystem is a basic ask. It calls for speed and agility to change the wheels while in motion.</p>
                <p>We assess the current maturity of digital adoption and help solve business challenges through digital transformation by reevaluating the company’s core and non-core technical competencies. We start by helping organizations identify the core that needs to transform, how to strengthen the building blocks, and adopt more competitive, personalized, responsive, and cost-effective digital models. We support organizations that do not have the necessary skills in house, to augment both technical capability and talent gaps. In a nutshell, we enable you to transform your business by providing the best in class digital solutions and innovation-led transformation.</p>
                <h6>Our offerings include:</h6>
                <ul style="margin-left: 25px;">
                    <li>AI</li>
                    <li>Data & Analytics</li>
                    <li>Digital Engineering</li>
                    <li>IoT Services</li>
                    <li>Customer Experience</li>
                    <li>Application Development & Maintenance</li>
                    <li>Cloud: Core Modernization</li>
                    <li>Infrastructure Services</li>
                    <li>Enterprise Application Services</li>
                    <li>Testing Services</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="ser-sticky">
    <a href="/home/contactus" target="_self">
        <i class="fas fa-comment"></i>
        <small style="color:black">Enquiry</small>
    </a>
</div>
<style>
    .ser-list-inner span
    {
        margin-left: 13px;
    position: absolute;
    margin-top: -15px;
    font-size: 16px;
    }
    .ser-sticky {
        position: fixed;
        bottom: 50px;
        right: 20px;
        z-index: 11111;
        color: wheat;
        width: 50px;
        height: 50px;
    }

        .ser-sticky a {
            color: orange !important;
            text-decoration: none;
        }

            .ser-sticky a i {
                transition: 1s;
                font-size: 50px;
            }

                .ser-sticky a i:hover {
                    transform: scale(1.3);
                }

        .ser-sticky small {
            position: absolute;
            left: 3px;
            top: 14px;
        }

    .ser-container {
        border: 1px solid #fffdfd;
        border-radius: 4px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 1px 1px 5px #808080f0;
        min-height: 100vh;
    }

    .ser-heading {
           margin: 20px 0;
    text-align: center;
    font-size: 20px;
    background:var(--menu-color);
    padding: 8px 5px;
    border-radius: 4px;
    color: white;
    }

    .ser-list-outer {
        padding: 10px;
    }

    .ser-container h6 {
    }

    .ser-list-inner {
        list-style: none;
        border: 1px solid #b3b2b2;
        border-radius: 4px;
    }

        .ser-list-inner li {
            line-height: 31px;
            padding: 19px 10px;
            border-bottom: 1px solid gainsboro;
            transition: 1s;
            transition-property: all;
        }

            .ser-list-inner li:hover {
                background: var(--active-menu-color);
                color: white;
            }

                .ser-list-inner li:hover + .ser-list-inner li i {
                    color: white;
                }

            .ser-list-inner li i {
                font-size: 37px;
                border-radius: 23px;
                width: 50px;
                color:black;
            }
            .ser-active a
            {
                color:white;
            }

    .ser-data div {
        display: none;
    }

    .ser-data {
        padding: 30px 10px;
    }

        .ser-data p {
            text-align: justify;
        }

    .ser-active {
        border-left: 3px solid orange;    
        background:var(--active-menu-color);
        color:white !important;
    }

    .tcd {
        border: 1px solid gray;
        border-radius: 4px;
        padding: 5px;
        text-align: center;
        box-shadow: 1px 1px 1px gray;
        min-height: 102px;
    }

    .tcd-info {
        font-size: 12px;
        color: gray;
    }

    .tcd-heading {
        font-size: 14px;
        color: gray;
    }

    .tcd i {
        font-size: 25px;
    }
</style>
<script>
    $(document).ready(function () {
        $('.ser-data .' + $('.ser-list-inner li:eq(0)').attr('class')).show();
        $('.ser-list-inner li:eq(0)').addClass('ser-active');
        var $query = getUrlVars();
        if ($query.type) {
            $('.ser-data div').hide();
            $(`.ser-list-inner li.${$query.type}`).click();
        }

    });
    $(document).on('click', '.ser-list-inner li', function () {
        $('.ser-data div').hide();
        $('.ser-list-inner li').removeClass('ser-active');
        $('.ser-data .' + $(this).attr('class')).show();
        $(this).addClass('ser-active');
    });

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
</script>

