
@{
    ViewData["Title"] = "Training";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}

<div class="container ser-container">
    <div class="row">
        <div class="col-md-12">
            <h5 class="ser-heading">We can help you to adept  technology for lyour specific need</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 ser-list-outer">
            <ul class="ser-list-inner">
                <li class="at"><a href="#ser-data"><span>Azure Training</span></a></li>
                <li class="dht"><a href="#ser-data"><span>Dataware Housing Training</span></a></li>
                <li class="dt"><a href="#ser-data"><span>Devops Training</span></a></li>
                <li class="ant"><a href="#ser-data"><span>Angular Training</span></a></li>
                <li class="btt"><a href="#ser-data"><span>Blazor Training</span></a></li>
                <li class="act"><a href="#ser-data"><span>ASP.Net Core Training</span></a></li>
                <li class="pyt"><a href="#ser-data"><span>Python Training</span></a></li>
                <li class="iott"><a href="#ser-data"><span>IOT(Internet of Things) Training</span></a></li>
                <li class="cctt"><a href="#ser-data"><span>Cloud Computing Training</span></a></li>
            </ul>
        </div>
        <div class="col-md-9 ser-data" id="ser-data">
            <br />
            <div class="at">
                <h4>
                    Azure Training
                </h4><br />
                <hr />
                <ul style="margin-left: 25px;">
                    <li> We provide a comprehensive  and in-depth  training in Microsoft Azure.</li>
                    <li>It includes preparing for various cloud certificates.</li>
                    <li>We help candidates to grasp the Azure cloud concepts from the basic to  the master level.</li>
                    <li>Training is provided too at the corporate level to migrate the on-premises application to the cloud</li>
                </ul>
            </div>
            <div class="dht">
                <h4>
                    Dataware Housing Training
                </h4><br />
                <hr />
                <ul style="margin-left: 25px;">
                    <li>We provide a comprehensive  and easy to understand training in Dataware House.</li>
                    <li>It gives you in-depth understanding of various technical terminologies like OLTP  ,OLAP,Facts etc.</li>
                    <li>You will have a complete understanding of ETL world.</li>
                </ul>
            </div>
            <div class="dt">
                <h4>
                    Devops Training
                </h4><br />
                <hr />

                <ul style="margin-left: 25px;">
                    <li>World is changing fast and Devops knowledge is a must in current times.</li>
                    <li>We will  train you to understand and implement Devops in various steps of a project lifecycle.</li>
                    <li>From opening  an account to various steps of a Pipeline we will guide you for everything.</li>
                </ul>
            </div>
            <div class="ant">
                <h4>
                    Angular Training
                </h4><br />
                <hr />
                <ul style="margin-left: 25px;">
                    <li>Knowledge of a JS Framework is a must now a days and what could be best other than Angular.</li>
                    <li>We will teach you  Angular in easy and playful way.</li>
                    <li>All the hard concepts like lifecycle of the Angular application to data movement in the Angular world we will train you in everything.</li>
                    <li>We provide training too at the corporate level to migrate the old JavaScript application to an Angular application</li>
                </ul>
            </div>
            <div class="btt">
                <h4>Blazor Training</h4><br />
                <hr />
                <ul style="margin-left: 25px;">
                    <li>Microsoft has once again surprised us with Blazor and we accept it.</li>
                    <li>We will train you in the future of UI world for Microsoft ASP.net application.</li>
                    <li>Training will be comprehensive and deep and adjustable to suit your time and interest.</li>
                </ul>
            </div>
            <div class="act">
                <h4>ASP.Net Core Training</h4><br />
                <hr />
                <ul style="margin-left: 25px;">
                    <li>ASP.Net is surely  and rapidly being replaced by ASP.Net core.</li>
                    <li>We train you to understand all the must to understand concepts.</li>
                    <li>From inbuilt dependency Injection to creating your own middleware we will clarify all your doubts.</li>
                    <li>Performance enhancement to creating a service oriented project architecture with ASP.Net core  we will explain everything to make you a master of ASP.Net core.</li>
                </ul>
            </div>
            <div class="pyt">
                <h4>
                    Python Training
                </h4><br />
                <hr />
                <ul style="margin-left: 25px;">
                    <li>Data Science is the future.</li>
                    <li>Python is the backbone for Data Science</li>
                    <li>We will teach you every concept with pratical and live example.</li>
                </ul>
            </div>
            <div class="iott">
                <h4>
                    IOT(Internet of Things) Training
                </h4><br />
                <hr />
                <ul style="margin-left: 25px;">
                    <li>Internet devices are everywhere so is IOT.</li>
                    <li>We will make you understand generic design that is backbone for all IOT devices.</li>
                    <li>IOT architecture and it's use is different cloud platforms is explained with live examples.</li>
                    <li>Communication Protocols is described in the training with various examples that is currently being used in live projects.</li>
                </ul>
            </div> 
            <div class="cctt">
                <h4>
                    Cloud Computing Training
                </h4><br />
                <hr />
                <p>
                    Botech Software Noida offers the best Cloud Computing Fundamentals training in Noida. With experienced Cloud Computing professionals/trainers, who will help students to learn Cloud Computing by making it a lightweight to the corporate standards that will help students/IT Professional to be prepare for the goal. We at Botech Software, the best place for Cloud Computing Training in Noida help students to learn cloud computing with the help of live base projects. It is one of the most credible Cloud Computing corporate training center in Noida offering hands on practical knowledge and full time job assistance with both basic and advanced training courses in the top most MNCs.
                </p>
                <p>Our Cloud Computing Fundamentals Training syllabus includes, Overview Cloud-Computing, Defining cloud-computing, Components of a computing cloud, Differentiating types of clouds: hybrid, public, private, Delivering services from the cloud, Arrays and Foreach Loop, Categorizing service types, Comparing vendor cloud products: Google, Amazon, Microsoft & others, Cloud Computing training on real time projects along with Cloud Computing Placement Training in Noida.</p>
                <p>What are you waiting for? Get in touch with us today to book your seat and know more about the available courses!</p>
                <br />
                <h4>HERE IS THE CLOUD COMPUTING COURSE CONTENT AT Botech Software:</h4>
                <ul  style="margin-left: 25px;">
                    <li>
                        Overview Cloud-Computing
                        <ul  style="margin-left: 25px;">
                            <li>Defining cloud-computing</li>
                            <li>Components of a computing cloud</li>
                            <li>Differentiating types of clouds: hybrid, public, private etc.</li>
                            <li>Delivering services from the cloud</li>
                            <li>Arrays and Foreach Loop.</li>
                            <li>Categorizing service types</li>
                            <li>Comparing vendor cloud products: Google, Amazon, Microsoft & others</li>
                        </ul>
                    </li>
                    <li>
                        Adopting the Cloud
                        <ul  style="margin-left: 25px;">
                            <li>Key drivers of cloud-computing solutions</li>
                            <li>Instantaneous provisioning of computing resources</li>
                            <li>Handling varied loads with elasticity and seamless scalability</li>
                            <li>Tapping into an infinite storage capacity</li>
                            <li>Cost-effective pay-as-you-use billing models</li>
                            <li>Handling sensitive data</li>
                            <li>Evaluating barriers to cloud-computing</li>
                            <li>Aspects of cloud security</li>
                            <li>Assessing governance solutions</li>
                        </ul>
                    </li>
                    <li>
                        Exploiting Software as a Service ( SaaS )
                        <ul  style="margin-left: 25px;">
                            <li>Characterizing SaaS</li>
                            <li>Streamlining administration with centralized installation & updates</li>
                            <li>Minimizing the need for local hardware & software</li>
                            <li>Optimizing cost & performance with the ability to scale on demand</li>
                            <li>Comparing service scenarios</li>
                            <li>Improving collaboration with business productivity tools</li>
                            <li>Simplifying business process creation by integrating existing components</li>
                            <li>Inspecting SaaS technologies</li>
                            <li>Deploying Web applications</li>
                            <li>Implementing Web services: SOAP, REST</li>
                            <li>Choosing a development platform</li>
                            <li>Analyzing portability across platforms</li>
                        </ul>
                    </li>
                    <li>
                        Delivering Platform as a Service (PaaS)
                        <ul  style="margin-left: 25px;">
                            <li>Exploring the technical foundation for PaaS               </li>
                            <li>Specifying the components of PaaS                         </li>
                            <li>Analyzing vendor PaaS provisions                          </li>
                            <li>Selecting an appropriate implementation                   </li>
                            <li>Building services with solution stacks                    </li>
                            <li>Evaluating the architecture of vendor-specific platforms  </li>
                            <li>Becoming familiar with service platform tools             </li>
                            <li>Leveraging the power of scalable middleware               </li>
                            <li>Managing cloud storage                                    </li>
                            <li>Controlling unstructured data in the cloud                </li>
                            <li>Deploying relational databases in the cloud               </li>
                            <li>Improving data availability                               </li>
                            <li>Employing support services                                </li>
                            <li>Testing in the cloud                                      </li>
                            <li>Monitoring cloud-based services                           </li>
                        </ul>
                    </li>
                    <li>
                        Deploying Infrastructure as a Service (IaaS )
                        <ul  style="margin-left: 25px;">
                            <li>Enabling technologies</li>
                            <li>Scalable server clusters</li>
                            <li>Achieving transparency with platform virtualization</li>
                            <li>Elastic storage devices</li>
                            <li>Accessing IaaS</li>
                            <li>Provisioning servers on demand</li>
                            <li>Handling dynamic and static IP addresses</li>
                            <li>Tools and support for management and monitoring</li>
                        </ul>
                    </li>
                    <li>
                        Building a Business Case
                        <ul  style="margin-left: 25px;">
                            <li>Calculating the financial implications</li>
                            <li>Analyzing current and future computing requirements</li>
                            <li>Comparing in-house facilities to the cloud</li>
                            <li>Estimating economic factors downstream</li>
                            <li>Preserving business continuity</li>
                            <li>Selecting appropriate service-level agreements</li>
                            <li>Safeguarding access to assets in the cloud</li>
                            <li>
                                Security, availability and disaster recovery strategies
                            </li>
                        </ul>
                    </li>
                    <li>
                        Migrating to the Cloud
                        <ul  style="margin-left: 25px;">
                            <li> Technical considerations</li>
                            <li> Re-architecting applications for the cloud</li>
                            <li> Integrating the cloud with existing applications</li>
                            <li> Avoiding vendor lock-in</li>
                            <li> Planning the migration</li>
                            <li> one-step solution</li>
                            <li> Selecting a vendor</li>
                            <li>Establishing staff skill requirements</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="ser-sticky">
    <a href="/home/contactus" target="_self">
        <i class="fas fa-comment"></i>
        <small style="color:black">Enquiry</small>
    </a>
</div>
<style>
    .ser-list-inner span {
        margin-left: 13px;
        position: absolute;
        margin-top: -15px;
        font-size: 16px;
        font-weight: 500;
        color: darkolivegreen;
    }

    .ser-sticky {
        position: fixed;
        bottom: 50px;
        right: 20px;
        z-index: 11111;
        color: wheat;
        width: 50px;
        height: 50px;
    }

        .ser-sticky a {
            color: orange !important;
            text-decoration: none;
        }

            .ser-sticky a i {
                transition: 1s;
                font-size: 50px;
            }

                .ser-sticky a i:hover {
                    transform: scale(1.3);
                }

        .ser-sticky small {
            position: absolute;
            left: 3px;
            top: 14px;
        }

    .ser-container {
        border: 1px solid #fffdfd;
        border-radius: 4px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 1px 1px 5px #808080f0;
        min-height: 100vh;
    }

    .ser-heading {
        margin: 20px 0;
        text-align: center;
        font-size: 20px;
        background: var(--theme-color);
        padding: 8px 5px;
        border-radius: 4px;
        color: white;
    }

    .ser-list-outer {
        padding: 10px;
    }

    .ser-container h6 {
    }

    .ser-list-inner {
        list-style: none;
        border: 1px solid #b3b2b2;
        border-radius: 4px;
    }

        .ser-list-inner li {
            line-height: 31px;
            padding: 19px 10px;
            border-bottom: 1px solid gainsboro;
            transition: 1s;
            transition-property: all;
        }

            .ser-list-inner li:hover {
                background: var(--active-menu-color);
                color: white;
            }

                .ser-list-inner li:hover + .ser-list-inner li i {
                    color: white !important;
                }

            .ser-list-inner li i {
                font-size: 37px;
                border-radius: 23px;
                width: 50px;
            }

    .ser-data div {
        display: none;
    }

    .ser-data {
        padding: 30px 10px;
    }

        .ser-data p {
            text-align: justify;
        }

    .ser-active {
        border-left: 3px solid orange;
        background: var(--active-menu-color);
    }

    .ser-active a{
        color:white;
    }

    .tcd {
        border: 1px solid gray;
        border-radius: 4px;
        padding: 5px;
        text-align: center;
        box-shadow: 1px 1px 1px gray;
        min-height: 102px;
    }

    .tcd-info {
        font-size: 12px;
        color: gray;
    }

    .tcd-heading {
        font-size: 14px;
        color: gray;
    }

    .tcd i {
        font-size: 25px;
    }
</style>
<script>
    $(document).ready(function () {
        $('.ser-data .' + $('.ser-list-inner li:eq(0)').attr('class')).show();
        $('.ser-list-inner li:eq(0)').addClass('ser-active');
        var $query = getUrlVars();
        if ($query.type) {
            $('.ser-data div').hide();
            $(`.ser-list-inner li.${$query.type}`).click();
        }

    });
    $(document).on('click', '.ser-list-inner li', function () {
        $('.ser-data div').hide();
        $('.ser-list-inner li').removeClass('ser-active');
        $('.ser-data .' + $(this).attr('class')).show();
        $(this).addClass('ser-active');
    });

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
</script>

