.hero {
    position: relative;
    width: 100vw;
    background-image: url('../../images/evie_default_bg.f0057eda.jpeg');
    box-shadow: 0 4px 11px rgba(124,146,169,.5);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #fff;
}

.hero__overlay--gradient {
    background: -webkit-linear-gradient(left,var(--theme-color),#612ba9);
    background: linear-gradient(90deg,var(--theme-color),#612ba9);
}

.hero__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .96;
    z-index: 1;
     background-color:var(--theme-color);
}
.hero__mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920" height="1080" viewBox="0 0 1920 1080"><defs><linearGradient id="06714b97-aec8-4b7e-bf3d-1e20f95f612e" y1="809.5" x2="958" y2="809.5" gradientTransform="matrix(1, 0, 0, -1, 0, 1082)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fff" stop-opacity="0"/><stop offset="1" stop-color="#fff" stop-opacity="0.05"/></linearGradient></defs><title>hero</title><rect id="0567095b-2cf7-4407-b8ab-ec2abe52d830" data-name="&lt;Path&gt;" y="545" width="1920" height="535" fill="#fff" opacity="0.05" style="isolation:isolate"/><polygon id="82ca9a61-a0a1-49cc-9805-a3533c693bad" data-name="&lt;Path&gt;" points="958 545 0 545 0 0 770.96 0 958 545" fill="url(#06714b97-aec8-4b7e-bf3d-1e20f95f612e)"/></svg>);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: .66;
    z-index: 2;
}
.hero__inner {
    position: relative;
    z-index: 3;
}
.container {
    width: 88%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}
.hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 50px);
    padding: 92px 0;
    overflow: auto;
}
.hero__content__inner {
    width: 100%;
    max-width: 600px;
    text-align: center;
}
.hero__title {
    color: inherit;
    margin-bottom: 1.25em;
}
.hero__text {
    opacity: .85;
    line-height: 1.7;
    text-align: left;
    font-size: 1.1em;
}
.hero .button {
    margin: 12pt 8pt;
}

.button__accent {
    background-color: #06d19c;
    border-color: #06d19c;
    color: #fff;
}
.landing__section:nth-child(odd) {
    background-color: #f7f7f7;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.steps {
    text-align: center;
    padding: 16pt 0;
}

.landing__section {
    padding: 24pt 0;
}
h2 {
    font-size: 1.728em;
}
.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}
@media (min-width: 992px) {
    .steps__inner {
        display: flex;
        justify-content: space-around;
    }
    .step__media {
        margin: 32pt 0;
    }
}
.step__image {
    max-height: 100px;
    max-width: 222px;
    margin-top: 8pt;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
@media (min-width: 600px) {
    .step__image {
        max-width: none;
    }
}
.step__media {
    margin: 16pt 0;
}
h4 {
    font-size: 1.2em;
}
.step__text {
    max-width: 36ch;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-bottom: 1.3em;
}
.expanded {
    padding: 72pt 0;
}

.landing__section {
    padding: 24pt 0;
}

@media (min-width: 992px) {
    .expanded__inner {
        flex-direction: row;
    }
}

.expanded__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
@media (min-width: 992px) {
    .expanded:nth-child(2n) .expanded__media {
        order: 1;
    }
}

.expanded:nth-child(2n) .expanded__media {
    order: 1;
}

@media (min-width: 992px) {
    .expanded__media {
        width: 50%;
        flex-shrink: 0;
        order: unset;
    }
}

.expanded__media {
    order: 1;
    text-align: center;
}
@media (min-width: 992px) {
    .expanded__image {
        max-width: 280px;
    }
}

.expanded__image {
    width: 90%;
    max-width: 220px;
    padding: 16pt 0;
}

img, svg {
    max-width: 100%;
}

img {
    border-style: none;
}

@media (min-width: 992px) {
    .expanded__content {
        padding: 0 16pt;
        width: 50%;
        flex-shrink: 0;
        order: unset;
    }
}

.expanded__content {
    order: 2;
}
.expanded__title {
    max-width: 550px;
}

h2 {
    font-size: 1.728em;
}
.expanded__text {
    max-width: 60ch;
}

p {
    margin-bottom: 1.3em;
}